{% extends "layout.html" %}
{% block body %}

<h2>我的课程</h2>
<br/>
{% if p!=3 %}
{% for course in mycourse %}
<button class="btn" onclick="go('{{ course.name }}');">{{ course.name }}</button>
{% else %}
<p>还未选过课</p>
<button class="btn btn-primary" onclick="window.location.href='/course/select';">现在去选课</button>

{% endfor %}
{%else%}
<table class="table table-hover">
              <thead>
                <tr>
					<th>课程ID</th>
					<th>课程名</th>
					<th>授课教师</th>
					<th>开课时间</th>
					<th>课程介绍</th>
                </tr>
              </thead>
			  <tbody>
			  {% for i in data.showdict %}
				<tr>
					<td>{{ i.courseid }}</td>
					<td>{{ i.name }}</td>
					<td>{{ i.teacher }}</td>
					<td>{{ i.time }}</td>
					<td>{{ i.intro }}</td>
					<td>
					<button class="btn" onclick="go('{{ i.name }}');">点击进入该课程</button>
					</td>
				</tr>
				
				{% endfor %}
			  
			  
			  </tbody>
</table>
{% if data %}
	<div class="pull-right">
	
			<ul class="pagination"> 
			
				{% if data.showye==1%} 
				<li class=''><a href='/course?p=1'>首页</a></li>
				<li class=''><a href='/course?p={{data.nowpage-1}}'>上一页</a></li> 
				{%endif%} 
				
				{% for dic in data.page_list %} 
				{% if dic==data.nowpage%} 
				<li class="active"><a href="/course?p={{dic}}">{{dic}}</a></li> 
				{%else%} 
				<li><a href="/course?p={{dic}}">{{dic}}</a></li> 
				{%endif%} 
				{%endfor%} 
				
				{% if data.nowpage < data.total%} 
				<li class=''><a href='/course?p={{data.nowpage+1}}'>下一页</a></li> 
				<li class=''><a href='/course?p={{data.total}}'>尾页</a></li>
				{%endif%}
			
			
			共{{data.total}}页 
			</ul>
	</div>
{% endif %}

{%endif%}



<script type="text/javascript">
function go(name){
	var href="/course?course="+name;
	window.location.href=href;
}



</script>
{% endblock %}