{% extends "layout.html" %}
{% block body %}




<h2> 查看个人信息</h2>
<br/>
<br/>
		
<div class="container">
	<div class="col-sm-5">


		<strong>用户名</strong>
		<HR>
		<p>{{ username }}</p>
		<br/>
		<strong>身份</strong>
		<HR>
		<p>
		{% if user.privilege==1 %}
		学生
		{% elif user.privilege==2 %}
		教师
		{% elif user.privilege==3 %}
		管理员
		{% endif %}
		</p>
		<br/>
		<strong>性别</strong>
		<HR>
		<p>{{ user.sex }}</p>
		<br/>
		<strong>出生日期</strong>
		<HR>
		<p>{{ user.born }}</p>
		<br/>
		<strong>电话号码</strong>
		<HR>
		<p>{{ user.telephone }}</p>
		
		
		
		
		


	
	
	 
	 </div>
</div>












<script type="text/javascript">







</script>



{% endblock %}